* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* body part */

body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

.big-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5em;
    background-color: white;
    padding:0 1em;
}

/* the title */

.title {
    padding: 0 2.3em;
    margin-top:0.2em;
    font-size: 6.25rem;
    font-weight: bold;
    color: khaki;
    background-image: url('/Static/Pics/pattern.webp');
}

/* each article of the main container */


.brushes {
    background-color: mediumspringgreen;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.frames {
    background-color: lightcoral;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.paint {
    background-color: skyblue;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

/* Pricing tag */

.price {
    font-weight: bold;
    color: blue;
}

.content{
    margin:2em 0;
}

h3{
    margin:1em 0;
}

img{
    margin-top:1em;
}